* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    display: inline;
    padding: 1rem 2rem;
}

ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    z-index: 1;
}

ul li a:before {
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    border-bottom: 2px solid crimson;
    border-top: 2px solid crimson;
    transform: scaleY(2);
    top: 0;
    left: 0;
    opacity: 0;
    transform: all 1s;

}

ul li a::after {
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: crimson;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(0);
    transition: 1s;
}

ul li a:hover:before,
ul li a:hover::after {
    opacity: 1;
    transform: scale(1.5);
    transition: 1s;
}

ul li a:hover {
    color: black;
}