*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    display: inline;
    padding: 1rem 2rem;
}

ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    position: relative;
}
ul li a::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 12px;
    left: -12px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    opacity: 0;
}
ul li a::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: -12px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    opacity: 0;
}

ul li a:hover:before{
bottom: 20px;
left: -20px;
transition: 1s;
opacity: 1;
}

ul li a:hover:after{
top: 20px;
right: -20px;
transition: 1s;
opacity: 1;
}